.container {
  width: 90%;
  margin:0 auto;
}

.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

.bottom-right {
  position: fixed;
  bottom: 50px;
  right: 50px;
}


