<mat-toolbar color="primary">
  <span>Create Group</span>
  <span class="example-fill-remaining-space"></span>
  <button mat-mini-fab mat-dialog-close><mat-icon>close</mat-icon></button>
</mat-toolbar>
<form [formGroup]="groupForm" (submit)="groupForm.valid && onCreate()" noval>
  <div class="form">
    <div class="company-info">
      <!-- Group Name -->
      <mat-form-field>
            <mat-label>Group Name</mat-label>
            <input
              formControlName="name"
              [(ngModel)]="group.name"
              matInput placeholder="Enter group name">
        </mat-form-field>

        <!-- Group Under -->
        <mat-form-field>
          <mat-label>Under</mat-label>
            <mat-select [(ngModel)]="group.under" formControlName="under">
                <mat-option [value]="0">Primary</mat-option>
                <mat-option *ngFor="let group of groups" [value]="group.id">
                  {{group.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
      <!-- Nature -->
      <mat-form-field *ngIf="[group.under] == 0">
        <mat-label>Nature</mat-label>
          <mat-select [(ngModel)]="group.nature" formControlName="nature">
              <mat-option *ngFor="let type of groupNature" [value]="type.id">
                {{type.name}}
              </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Gross Affected? -->
        <mat-form-field *ngIf="[group.under] == 0 && [group.nature] == 2 || [group.nature] == 3 ">
          <mat-label>Is Gross Affected</mat-label>
            <mat-select [(ngModel)]="group.grossAffected" formControlName="grossAffected">
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">No</mat-option>
            </mat-select>
          </mat-form-field>

      <div class="actions">
          <mat-card-actions>
              <button mat-raised-button [disabled]="!groupForm.valid">Create</button>
          </mat-card-actions>
      </div>
    </div>

  </div>
</form>
