<mat-toolbar color="primary">
  <span>Create Item</span>
  <span class="example-fill-remaining-space"></span>
  <button mat-mini-fab mat-dialog-close><mat-icon>close</mat-icon></button>
</mat-toolbar>
<form [formGroup]="unitForm" (submit)="unitForm.valid && onCreate()" noval>
  <div class="form">
    <div class="stock-group-info">
      <!-- Type -->
      <mat-form-field>
            <mat-label>Unit Type</mat-label>
            <input
              formControlName="name"
              [(ngModel)]="unit.name"
              matInput placeholder="Enter item name">
        </mat-form-field>
        <!-- Name -->
        <mat-form-field>
          <mat-label>Unit Name</mat-label>
          <input
            formControlName="name"
            [(ngModel)]="unit.name"
            matInput placeholder="Enter item name">
        </mat-form-field>
        <!-- Symbol -->
        <mat-form-field>
          <mat-label>Symbol</mat-label>
          <input
            formControlName="name"
            [(ngModel)]="unit.name"
            matInput placeholder="Enter item name">
        </mat-form-field>
        <!-- First Unit -->
        <mat-form-field>
          <mat-label>First Unit</mat-label>
          <input
            formControlName="name"
            [(ngModel)]="unit.name"
            matInput placeholder="Enter item name">
        </mat-form-field>

      <div class="actions">
          <mat-card-actions>
              <button mat-raised-button [disabled]="!unit.valid">Create</button>
          </mat-card-actions>
      </div>
    </div>

  </div>
</form>
