
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.form {
  display: flex;
  flex-direction: row;

  .stock-group-info  {

    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .other-info {

    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
}
.actions {
  text-align: center;
}

